.custom-card-topo {
  background-color: rgb(50, 150, 220);
}

.custom-card{
  background-color: rgba(53, 52, 52, 0.87);
}

.mat-card-title{
  font-size: 40px;
}
.mat-card{
  text-align: justify;
  font-size: 20px;
  .mat-card-title{
    font-size: 40px
  };
  .mat-card-subtitle{
    font-size: 20px
  };
}
.text-justify{
  text-indent:4em
}


.myDivElement{
  text-align:center;
}
.myDivElement ol ul{
//  display:inline;
 text-align:center;

}
