<!-- <app-page-header [heading]="'Home'" [icon]="'fa-desktop'"></app-page-header> -->
<!-- <banner-info></banner-info> -->

<mat-card>


  <h1 align="center">Seja Bem-Vindo!</h1>
  <br>
  <mat-card>
    <h3 class="text-justify"></h3>
    <h3 class="text-justify">Esta plataforma possui finalidade de pesquisa em Processamento de Sinais e est&aacute; em
      processo de desenvolvimento. Para qualquer d&uacute;vida a respeito da mesma, entrar em contato pelo e-mail <a href="mailto:romero@facom.ufms.br">romero@facom.ufms.br</a> ou
     <a href="mailto:rafael.viana@ufms.br">rafael.viana@ufms.br</a>.

    </h3>
  </mat-card>
  <br>

  <H2 align="center">Módulos em Desenvolvimento</H2>

  <br>
  <div class="container-exemple">
    <div class="row">
      <div class="col-sm">
        <mat-card class="cartao">
          <H3>Processamento CNN</H3>
          <p class="text-justify">Sistema de pesquisa em desenvolvimento: O raio-x dos pulmões é pre-processado e após é utilizada uma CNN nas nuvens para ajudar na interpretação do diagnóstico de COVID-19 e do sinal cardiaca R-R. </p>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="cartao">
          <H3>Pseudo-Coloração</H3>
          <p class="text-justify">Sistema de pesquisa em desenvolvimento: O raio-x dos pulmões é pre-processado via Pseudo-Coloração utilizando as nuvens para ajudar na interpretação do diagnóstico de COVID-19.</p>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="cartao">
          <H3>Tracking EPI</H3>
          <p class="text-justify">Sistema de pesquisa em desenvolvimento: O stream de vídeo é pre-processado e após é utilizado em uma CNN nas nuvens para decteção de equipamentos de segurança individual - "EPI" adotados nos procedimento de segurança de empresas e instituições.</p>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>
